<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" type="text/css" href="../../app/Views/style2.css" />
      <title>Email Reminder Opt Out</title>
  </head>
  <body>

    {#% extends "base.html.twig" %}

    {% block content %#}

    <div class="container1">
      <div class="container2">
        <h2>Email Notification opt-out</h2>
        <strong>You have successfully unsubscribed <br />
          from receiving email notifications.</strong>
      </div>
    </div>
    {#% endblock %#}
  </body>
</html>
